*.pyc
*.pyd
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
.DS_Store

data/faster_rcnn_models
*.tgz

output

# this is not a submodule anymore, but a soft link
caffe-fast-rcnn
