*.pyc
*.pyd
.ipynb_checkpoints
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so

data/faster_rcnn_models
*.tgz

output

# this is not a submodule anymore, but a soft link
caffe-fast-rcnn

# windows extra libraries (where do they come from???)
NugetPackages